---
import "./../styles/global.css";

interface Props {
	title: string;
	description: string;
	keywords?: string;
	pageType?: string;
	siteName?: string;
}

const { title, description, keywords, pageType, siteName } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="ru" data-theme="night">
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content={keywords} />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="page-type" content={pageType} />
		<link rel="canonical" href={canonicalURL} />
		<meta property="og:locale" content="ru_RU" />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content={pageType} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta
			name="google-site-verification"
			content="gfEBIh4yZJlsnobvlgypUBumoZZapcqQJAqfQmZRMsE"
		/>
		<meta name="yandex-verification" content="e932068f36c605f0" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen font-['Roboto']">
		<slot />
	</body>
</html>
<style></style>
